In [18]:
import pandas as pd
import numpy as np
import seaborn as sns

In [27]:
df=pd.read_csv('emails_new.csv',usecols=[0,1])

In [28]:
df

                                                   text spam
0     Subject: naturally irresistible your corporate...    1
1     Subject: the stock trading gunslinger  fanny i...    1
2     Subject: unbelievable new homes made easy  im ...    1
3     Subject: 4 color printing special  request add...    1
4     Subject: do not have money , get software cds ...    1
...                                                 ...  ...
5731  Subject: re : research and development charges...    0
5732  Subject: re : receipts from visit  jim ,  than...    0
5733  Subject: re : enron case study update  wow ! a...    0
5734  Subject: re : interest  david ,  please , call...    0
5735  Subject: news : aurora 5 . 2 update  aurora ve...    0

[5736 rows x 2 columns]

In [30]:
df['spam'].value_counts()

0                                                                                               4359
1                                                                                               1367
 its termination would not  have such a phenomenal impact on the power situation .  however        1
 mr suresh prabhu                                                                                  1
Name: spam, dtype: int64

In [31]:
df.drop_duplicates(inplace=True)

In [33]:
df['spam'].value_counts()

0                                                                                               4326
1                                                                                               1367
 its termination would not  have such a phenomenal impact on the power situation .  however        1
 mr suresh prabhu                                                                                  1
Name: spam, dtype: int64

In [34]:
df

                                                   text spam
0     Subject: naturally irresistible your corporate...    1
1     Subject: the stock trading gunslinger  fanny i...    1
2     Subject: unbelievable new homes made easy  im ...    1
3     Subject: 4 color printing special  request add...    1
4     Subject: do not have money , get software cds ...    1
...                                                 ...  ...
5731  Subject: re : research and development charges...    0
5732  Subject: re : receipts from visit  jim ,  than...    0
5733  Subject: re : enron case study update  wow ! a...    0
5734  Subject: re : interest  david ,  please , call...    0
5735  Subject: news : aurora 5 . 2 update  aurora ve...    0

[5698 rows x 2 columns]

In [44]:
df.isnull().sum()

text    1
spam    3
dtype: int64

In [45]:
exm = df.fillna(0)

In [43]:
df.isnull().sum()

text    1
spam    3
dtype: int64

In [ ]:
Deleting rows which contain null value

In [46]:
df = df.dropna(how='any',axis=0)

In [47]:
df.isnull().sum()

text    0
spam    0
dtype: int64

# separate x and y

In [48]:
x = df.text.values

In [49]:
y = df.spam.values

# split dataset

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.2)

# Data Preprocessing

In [56]:
from sklearn.feature_extraction.text import CountVectorizer
#from sklearn.feature_extraction.text import TfidfVectorizer  here we use this also

In [57]:
cv = CountVectorizer()
#cv = TfidfVectorizer()

In [58]:
x_train = cv.fit_transform(xtrain)

In [59]:
x_train.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 3, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

# ML algorithm

In [61]:
from sklearn.naive_bayes import MultinomialNB

In [62]:
model = MultinomialNB()
model.fit(x_train,ytrain)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [63]:
x_test = cv.transform(xtest)

In [64]:
x_test.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0]], dtype=int64)

In [65]:
model.score(x_test,ytest)

0.9877085162423178

In [66]:
emails = ['hey I am looking for machine learning tutorial in bengali language','hey you win  lakhs tk please send me your bikash number and pin number']

In [67]:
cv_emails = cv.transform(emails)

In [68]:
model.predict(cv_emails)

array(['0', '1'], dtype='<U92')

In [ ]:
# 0 means first mail ta Hamm mail, but 2nd mail ta spam mail. so our project predict korte parse